<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizhu.dao.UserRepository">

    <insert id="saveAll" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(user_name, user_password, user_age, user_sex, org_id)
        values
        <foreach collection="users" index="index" item="user" separator=",">
            (
                #{user.userName},
                #{user.userPassword},
                #{user.userAge},
                #{user.userSex},
                #{user.orgId}
            )
        </foreach>
    </insert>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(
            user_name,
            user_password,
            user_age,
            user_sex,
            org_id
        )
        values
        (
            #{user.userName},
            #{user.userPassword},
            #{user.userAge},
            #{user.userSex},
            #{user.orgId}
        )
    </insert>

    <select id="findAllByUserName" resultType="com.yizhu.entity.User">
        select id, user_name, user_password, user_age, user_sex, org_id
        from t_user
        where user_name=#{userName}
    </select>

    <select id="findAllById" resultType="com.yizhu.entity.User">
        select id, user_name, user_password, user_age, user_sex, org_id
        from t_user
        where id=#{id}
    </select>

    <select id="findAll" resultType="com.yizhu.entity.User">
        select id, user_name, user_password, user_age, user_sex, org_id
        from t_user
    </select>

    <select id="findAllBySexAndName" resultType="com.yizhu.entity.User">
        select id, user_name, user_password, user_age, user_sex, org_id
        from t_user
        where user_sex=#{userSex}
        and user_name=#{userName}
    </select>

    <select id="findUsersDynamic" resultType="com.yizhu.entity.User">
        select id, user_name, user_password, user_age, user_sex, org_id
        from t_user
        where 1=1
        <if test="userQueryDto.id != null and userQueryDto.id != ''">
            and id = #{userQueryDto.id}
        </if>
        <if test="userQueryDto.userName != null and userQueryDto.userName != ''">
            and user_name = #{userQueryDto.userName}
        </if>
        <if test="userQueryDto.userPassword != null and userQueryDto.userPassword != ''">
            and user_password = #{userQueryDto.userPassword}
        </if>
        <if test="userQueryDto.userAge != null and userQueryDto.userAge != ''">
            and user_age = #{userQueryDto.userAge}
        </if>
        <if test="userQueryDto.userSex != null and userQueryDto.userSex != ''">
            and user_sex = #{userQueryDto.userSex}
        </if>
        <if test="userQueryDto.orgId != null and userQueryDto.orgId != ''">
            and org_id = #{userQueryDto.orgId}
        </if>
    </select>

    <select id="findUsersByPage" resultType="com.yizhu.entity.User">
        select id, user_name, user_password, user_age, user_sex, org_id
        from t_user
        where 1=1
        <if test="userQueryByPageDTO.id != null and userQueryByPageDTO.id != ''">
            and id = #{userQueryByPageDTO.id}
        </if>
        <if test="userQueryByPageDTO.userName != null and userQueryByPageDTO.userName != ''">
            and user_name = #{userQueryByPageDTO.userName}
        </if>
        <if test="userQueryByPageDTO.userPassword != null and userQueryByPageDTO.userPassword != ''">
            and user_password = #{userQueryByPageDTO.userPassword}
        </if>
        <if test="userQueryByPageDTO.userAge != null and userQueryByPageDTO.userAge != ''">
            and user_age = #{userQueryByPageDTO.userAge}
        </if>
        <if test="userQueryByPageDTO.userSex != null and userQueryByPageDTO.userSex != ''">
            and user_sex = #{userQueryByPageDTO.userSex}
        </if>
        <if test="userQueryByPageDTO.orgId != null and userQueryByPageDTO.orgId != ''">
            and org_id = #{userQueryByPageDTO.orgId}
        </if>
        order by update_time desc
    </select>

    <select id="findUserInfoByUserId" resultType="com.yizhu.dto.UserInfoDTO">
        select tu.*, tr.id as roleId, tr.role_name
        from t_user tu
        join t_user_role tur on tu.id = tur.user_id
        join t_role tr on tu.id = tur.role_id
        where tu.id = #{userId}
    </select>
</mapper>
